@import "./buttons";
@import "./fonts";
@import "./text";
@import "./wozduxbtn";

@mixin text-colors-fonts {
  color: #848484;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@mixin sxema-subtitle {
  color: var(--unnamed, #78c081);
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

@mixin sxema-text {
  margin-top: 21px;
  color: #495e4c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}