$button-green-color: #5CCD6A;
$btn-green-hover:#54E165;
$btn-green-after-color: rgba(120, 192, 129, 0.25);

$button-border-color: rgba(255,255,255,0.4);
$h1-green-color: #495e4c;
$h1-yellow-color:#FFD700;
$header-btn-yellow-color:#FFD700;
$header-btn-radius-color:rgba(255, 215, 0, 0.25);
$button-color:#fff;
$button-green-shadow:rgba(34,111,33,0.36);

$hero-h2-green-color:#495E4C;
$backgraund-icon:#d9fadd;
$comfort-border-color :#78C08140;
